<mat-card>
  <mat-card-title>Observers
    <mat-icon class="mt-am">remove_red_eye</mat-icon>
  </mat-card-title>
  <mat-card-content>
    <p>
      Os observadores são capazes de modificar
      o comportamento de uma aplicação Magento
      porque são injetados dinamicamente no fluxo de execução.
    </p>
    <p>São identificados no arquivo events.xml, conforme o exemplo:</p>
    <pre>
      <code class="hljs hljs-line-numbers" [highlight]="observerExample" [lineNumbers]="false"></code>
    </pre>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-subtitle>Filtros de pesquisa:</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="mr-10" [ngClass]="{regex: filterModuleRegex}">
        <mat-label>Filtrar por Módulo</mat-label>
        <input matInput type="text" formControlName="module" autocomplete="off"
               (keydown.enter)="searchForModuleRegex()">
        <mat-icon matSuffix (click)="isFilterModuleRegex()" *ngIf="filterModuleRegex">build</mat-icon>
        <mat-icon matSuffix (click)="isFilterModuleRegex()" *ngIf="!filterModuleRegex">short_text</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-10">
        <mat-label>Filtrar por Dispatcher</mat-label>
        <input matInput type="text" formControlName="dispatch" autocomplete="off"
               (keydown.enter)="searchForFieldsRegex()">
        <mat-icon matSuffix (click)="isFilterDispatchRegex()" *ngIf="filterDispatchRegex">build</mat-icon>
        <mat-icon matSuffix (click)="isFilterDispatchRegex()" *ngIf="!filterDispatchRegex">short_text</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-10">
        <mat-label>Filtrar por Nome do Observer</mat-label>
        <input matInput type="text" formControlName="observerName" autocomplete="off"
               (keydown.enter)="searchForFieldsRegex()">
        <mat-icon matSuffix (click)="isFilterObserverNameRegex()" *ngIf="filterObserverNameRegex">build</mat-icon>
        <mat-icon matSuffix (click)="isFilterObserverNameRegex()" *ngIf="!filterObserverNameRegex">short_text</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-10">
        <mat-label>Filtrar por Classe do Observer</mat-label>
        <input matInput type="text" formControlName="observerClass" autocomplete="off"
               (keydown.enter)="searchForFieldsRegex()">
        <mat-icon matSuffix (click)="isFilterObserverClassRegex()" *ngIf="filterObserverClassRegex">build</mat-icon>
        <mat-icon matSuffix (click)="isFilterObserverClassRegex()" *ngIf="!filterObserverClassRegex">short_text
        </mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mr-10">
        <mat-label>Ativo</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-select-trigger>
            {{form.controls.status.value ? form.controls.status.value[0] : ''}}
            <span *ngIf="form.controls.status.value?.length > 1" class="example-additional-selection">
            (+{{form.controls.status.value.length - 1}} {{form.controls.status.value?.length === 2 ? 'outro' : 'outros'}}
              )
          </span>
          </mat-select-trigger>
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="doClear()" type="button">
        <mat-icon>backspace</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<app-observer-list [observers]="observers" [dispatchs]="dispatchs" [totals]="totals"></app-observer-list>
