<footer class="docs-footer md-padding" [class.is-next-version]="true">
  <mat-card>
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile>
          <div class="docs-footer-logo">
            <div class="footer-logo">
              Magento Analyser - N98 Plugin
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="docs-footer-version">
            Version 0.2.0
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="docs-footer-copyright">
            <div>
              <img class="copyleft" src="assets/images/copyleft.png" alt="copyleft"/>
              <span class="copyleft-text"><a href="">Copyleft by us.</a></span>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</footer>


