<div class="home-container">
  <mat-card class="mc-h">
    <mat-card-subtitle>Magento Analyser - N98 Plugin</mat-card-subtitle>
    <mat-card-title>
      <strong><mat-icon class="mt-am">code</mat-icon> Magento Tools Gui <mat-icon class="mt-am">code</mat-icon></strong>
    </mat-card-title>
    <br/>
    <mat-card-content class="ct-max">
      <p>
        O Magento Analyser é uma ferramenta elaborada
        para auxiliar no trabalho dos desenvolvedores Magento,
        agilizando a busca de Plugin e Observer contidos em um projeto.
      </p>
      <br/>
      <p>
        Com uma simples busca, você irá obter
        uma lista de todos os Plugins ou Observers existentes em um projeto,
        ainda sendo possível refinar essa busca, procurando apenas o que seja
        de sua necessidade.
      </p>
      <br/>
      <p>
        Com um único clique, você conseguirá abrir o arquivo, na linha que contém
        o artefato desejado, sendo que as IDEs disponibilizas para isso são,
        o Visual Studio Code e o PHP Storm.
      </p>
    </mat-card-content>
  </mat-card>
</div>
